[mysqld]
console=1
general_log=1
general_log_file=/dev/stdout
log_error=/dev/stderr

# Buffer/Cache settings
key_buffer_size = 16K
sort_buffer_size = 64K
read_buffer_size = 256K
read_rnd_buffer_size = 256K
net_buffer_length = 2K

innodb_buffer_pool_size = 96M
innodb_buffer_pool_instances = 1
innodb_flush_log_at_trx_commit = 0
innodb_doublewrite = 'OFF'
innodb_file_format = Barracuda
innodb_log_file_size = 8M
innodb_log_buffer_size = 8M
innodb_large_prefix

#https://www.percona.com/blog/2011/02/03/performance-problem-with-innodb-and-drop-table/
innodb_file_per_table=0

skip-log-bin

#http://jmuras.com/blog/index.html%3Fp=1608.html
sync_binlog=0

#https://www.percona.com/blog/2013/12/03/innodb_stats_on_metadata-slow-queries-information_schema/
innodb_stats_on_metadata=0

max_connect_errors       = 1000000
max_connections          = 350
